%body
  .wrapper
    .header
      %p.header__p 
    .main
      = render 'shared/side_bar'
      .chat-main
        .chat-main__header
          .chat-main__header__left-box
            %p.left-box__team テックエキスパートBチーム
            %p.left-box__member Member：てっくえきすぱーと
          = link_to root_path do
            .main-header__edit-btn 
              %p Edit
        .messages
          = render @messages
        .form
          = form_for [@group, @message] do |f|
            = f.text_field :content, class: 'form__message', placeholder: 'type a message'
            .form__mask
              = f.label :image, class: 'form__mask__image' do
                = fa_icon 'picture-o', class: 'icon'
                = f.file_field :image, class: 'hidden'
            = f.submit 'Send', class: 'form__submit'